{% extends "base.html" %}
{% block title %}Contact{% endblock title %}
{% block header %}
{% set current_page = "contact" %}
{{ super() }}
{% endblock header %}
{% block content %}
<div class="container">
    <div class="alert alert-warning my-2"
         role="alert"
    >This form isn't working yet. Don't listen to that success message. It's lying to you.
        Contact me at <a href="href=mailto:noah@coronasoftware.net">noah@coronasoftware.net</a></div>
    <h1 class="mt-5">Contact</h1>
    <hr>
    <div class="mb-5">{% include "components/social.html" %}</div>
    <form action="/contact" method="post">
        <div class="form-group">
            <label for="name">Name</label> <input class="form-control"
                   id="name"
                   name="name"
                   placeholder="Enter your name" required>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input class="form-control"
                   type="email"
                   id="email"
                   name="email"
                   placeholder="Enter your email" required>
        </div>
        <div class="form-group">
            <label for="body">Body</label>
            <textarea class="form-control"
                      id="body"
                      name="body"
                      rows="6" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary btn-lg">Submit</button>
    </form>
    {% if message %}
    <div class="alert alert-success my-3" role="alert">{{ message }}</div>
    {% elif error %}
    <div class="alert alert-danger my-3" role="alert">{{ error }}</div>
    {% endif %}
</div>
{% endblock content %}
