{% extends "base.html" %}
{% block title %}Home{% endblock title %}
{% block content %}
<div class="text-center">
    <img class="my-5" src="/s/Logo.png" style="height: 200px;">
    <h1 class="display-4">Noah Corona</h1>
    <p class="lead">Software Engineer</p>
    <hr class="my-4" style="width: 50%;">
    <a class="btn btn-primary btn-lg mr-2" href="https://github.com/Zer0897" role="button">Github</a>
    <a class="btn btn-secondary btn-lg" href="/contact" role="button">Contact</a>
</div>
{% endblock content %}
