{% extends "base.html" %}

{% block globals %}
{% set current_page = "home" %}
{% endblock globals %}

{% block content %}
<div class="text-center">
    <img class="my-5 img-fluid rounded mx-auto d-block"
         src="/static/assets/Logo.png?height=250"
         style="max-height: 250px;">
    <div  style="font-family: novecento;">
        <h1 class="display-5">
            <a class="text-reset text-decoration-none"
               href="/profile">Noah Corona</a></h1>
        <h5 class="lead">Software Engineer</h5>
    </div>
    <hr style="width: 70%;">
    <a class="btn btn-primary btn-lg m-3"
       target="_blank"
       rel="noopener noreferrer"
       href="https://github.com/Zer0897"
       role="button">Github </a>
    <a class="btn btn-secondary btn-lg m-2" href="/contact" role="button">Contact</a>
</div>
{% endblock content %}
