{% extends "base.html" %}
{% block title %}Home{% endblock title %}
{% block content %}
<div class="text-center">
    <br class="mt-3">
    <img class="my-5" src="/s/Logo.png" style="height: 200px;">
    <h1 class="display-4">Noah Corona</h1>
    <h5 class="lead">Software Engineer</h5>
    <hr style="width: 70%;">
    <div class="my-5">
        <a class="btn btn-primary btn-lg mr-3"
           target="_blank"
           rel="noopener noreferrer"
           href="https://github.com/Zer0897"
           role="button">Github</a>
        <a class="btn btn-secondary btn-lg" href="/contact" role="button">Contact</a>
    </div>
</div>
{% endblock content %}
