{% extends "base.html" %}
{% block title %}Home{% endblock title %}
{% block head %}
{{ super() }}
{% endblock head %}
{% block content %}
<div class="jumbotron jumbotron-fluid text-center">
    <div class="container-fluid">
        <h1 class="display-4">Noah Corona</h1>
        <p class="lead">Software Engineer</p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="https://github.com/Zer0897" role="button">Github</a>
        <a class="btn btn-secondary btn-lg" href="#" role="button">Contact</a>
    </div>
</div>
{% endblock content %}
