{% extends "base.html" %}
{% block title %}Profile{% endblock title %}
{% block header %}
{% set current_page = "profile" %}
{{ super() }}
{% endblock header %}
{% block content %}
<div class="container mt-5">
    <div class="card m-1 bg-light rounded shadow-lg">
        <h1 class="card-header text-center">Noah Corona</h1>
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="./s/profile.jpg"
                     class="p-1 card-img align-center"
                     alt="Noah and his dog Rust on an old bridge.">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <p class="card-text">{% include "blog/intro.html" %}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
